div.google-visualization-tooltip > ul > li > span {color: blue !important; font-size: 11px !important;}

.google-visualization-tooltip {
  text-align: right !important;
border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;

position: fixed !important;
  top: 0px !important; 
  right: 120px !important;
  left: 0px !important;
  margin-top: 345px !important; 
  /* left:0px !important; */

box-shadow: none !important;
  padding: 0px;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;

font-size: 9px !important;
color: Blue !important; 
}

.ax_default {
 }
 
 #u976 {
  padding-top: 150px !important;   
 }

/* div.google-visualization-tooltip {
  position: fixed; !important
    left: -2400px; !important
   border: none; 
} */
